<!DOCTYPE html5>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/ext.css" />
    <title>RyanBrunner.com - {{ title }}</title>
  </head>
  <body class='container' style='margin-top: 50px; margin-bottom: 50px;'>
    <div class='row'>
    <header class='span4' id='main-nav'>
      <div class='brand'>
        <h1>Ryan Brunner</h1>
        <p class='lead'>I'm a Ruby on Rails developer from Toronto, Ontario. I help organize the Toronto Ruby Brigade. I'm the lead architect of Influitive. I love my wife, cooking, the outdoors, and talking with interesting people.</p>
      </div>
      <nav>
        <header>More about me:</header>
        <ul>
          <li><a href='http://twitter.com/ryanbrunner'>Twitter</a></li>
          <li><a href='http://ca.linkedin.com/in/rbrunner'>LinkedIn</a></li>
        </ul>
      </nav>
    </header>

    <div id='content' class='span8'>
      <h1>{{ title }} <small>{{ date }}</small></h1>
      {{ content }}
    </div>
  </body>
</html>